/************************************************************/
/*                   Formularios                            */
/***********************************************************/

h1 {
    text-align: center;
    color: black;
    font-family:'Courier New', Courier, monospace;
    margin-left: -75%;
    margin-right: 70%;
    border-radius: 5px;
    animation-duration: 1.5s;
    animation-name: slidein2;
}
/*animacion del h2*/

@keyframes slidein2{
    from{
        transform: translateX(1000px);
    }
    to {
        transform: translateX(0px);
    }
}
#Main{
    background-image:url("D:/FP/LenguajedeMarcas/Practica_HTML_CSS/giro.gif");
    background-size: 40%;
}

/* Caracteristicas de mis inputs en el formulario*/
input[type=text],
input[type=password],
input[type=email],
input[type=date]
,select {
    width: 70%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;

}

select,
input[type=date],
input [type=checkbox],
input[type=radio]{
    cursor: pointer;
}

input[type=submit]{
    float: right;
    width: 20%;
    height: 50px;
    background-color: #EB984E ;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

input[type=reset]{
    float: left;
    width: 20%;
    height: 50px;
    background-color: #34495E ;
    color: white;   
    cursor: pointer;
    border-radius: 5px;
}

/* Comportamiento cuando paso el raton por encima */
input:hover{
    background-color: #F4F6F6;
    border-color: black;
}

input:focus{
    background-color: #FDF2E9;
}
select:focus{
    background-color: #FDF2E9; 
}


input[type=submit]:hover{
        background-color: #FAD7A0;
}
input[type=reset]:hover{
    background-color: #5D6D7E;
}

select:hover{
    background-color: #F4F6F6;
    border-color: black;
}


label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

fieldset{
    border-color: white;
    width: 70%;
}

/* La forma del formulario */
.container{
    border-radius: 50px;
    background:linear-gradient(30deg, crimson,sienna, royalblue, indianred, purple);
    padding: 30px;
    margin-bottom: 50%;
    margin-left: -75%;
    margin-right: 70%;
    /* Parametros para definir el movimiento*/
    animation-duration: 1.5s;
    animation-name: slidein;
    color: white;
}
/* Defino el movimineto como quiero que lo haga*/
@keyframes slidein{
    from{
        transform: translateX(-1000px);
    }
    to {
        transform: translateX(0px);
    }
}
/* Grid para ajustar y dar formal a mi formulario*/

.fila{
    margin-top: 10px;

}
.columna-1{

     float: left;
     width: 40%;
     margin-top: 7px;

}
.columna-2{
        width: 85%;
        margin-top: 7px;
    
}

/* Esto me ajusta las filas*/
.fila:after{
    content: "";
    display: table;
    clear: both;
}


/******************************************************************************************************
*********************************************************************************************************
******************************     Menu superior  *******************************************************/

/*Fondo animado*/
 body {
    width: 100%;
    height: 100vh;
    color: black;
    background: linear-gradient(45deg,#66cccc,#66ffcc ,#6fffff,#99ffff,#99ccff,#9999ff,#9966ff);
    background-size: 400% 400%;
    position: relative;
    animation: cambiar 10s ease-in-out infinite;
}
/* Defino las transiciones de los colores */
@keyframes cambiar{
    0%{background-position: 0 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0 50%;}
}



#menuSup {

    margin: auto;
    margin-top: -15px;
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;

}
ul ,ol { 

    list-style: none;
}
.nav li a{
    
    background-color: #000;
    color:aqua;
    text-decoration: none;
    padding: 10px 15px;
    display: block;


}
.nav li a:hover{
    background-color: #434343;
    transform: scale(1.1); /* Para que sobresalte el tamaño*/
}
.nav > li {
    float: left;
    
}

.nav li ul {
    width: 200px;
    display: flex;
    flex-direction: column; /* Se asegura que uno vaya detras del otro, en columna */
    background-color: #00FFFF;
    position: absolute;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    top: 90px;
    padding: 3px 0px;
    visibility: hidden;
    opacity: 0;
    left: -5x;
    z-index: 10; /* Para que sobresalte*/
    transition: all 300ms ease;

}
.nav li:hover > ul{
    visibility: visible;
    opacity: 1; /*para que se muestre*/
    top: 55px; /*pequeña animacio para que el submenu se junte con el menu principal*/
    
}

 /* parte de las flechita  en  submenu*/
.nav li ul:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent; /* Esto me creara el triangulo,le dara forma*/
    border-right: 10px solid transparent;
    border-bottom: 10px solid aqua;
    position: absolute;
    top: -14px;
    left: 20px;
}

/* cada OPcion submenu */
.nav li ul li a {
    display: block;
    color: #F4F6F6;
    padding: 6px;
    padding-left: 14px;
    margin-top: 5px;
    font-size: 14px;
    text-transform: uppercase; /* Tranforma en mayuscula el texto*/
    transition: all 300ms ease;
}
/* Cuuando le pasas el raton a cada opcion del submenu*/
.nav li ul li a:hover{
    background-color:grey;
    color:aqua;
    transform: scale(1.1); /* Para que sobresalte el tamaño*/
    padding-left: 30px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    
}


/* Para hacerlo responsive*/
@media screen and (max-width: 720px ){
    #menuSup > ul {
        flex-direction: column;
        background-color: blue;
        position: fixed;
        left: 0;
        top: 158px;
        width: 100%;
        height: 300px;
        transition: all 300ms ease;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
    }
}




/************************************************************/
/*                  Menu lateral                           */
/***********************************************************/

.sidemenu {
    font-family: Arial, Helvetica, sans-serif;
    /**Alto y ancho de donde se va a activar cuando pase el mouse**/
    width: 10%;
    height: 9%;
    /*Para que este siempre en la misma parte de la pantalla aunque se haga scroll*/
    position: fixed;
    /*Tiempo en el que va a transitar la animacion*/
    transition: .4s all;
    /*este arriba de todo en la pantalla*/
    z-index:1;

}

.sidemenu ul{

    /*solucionar espacios no deseados*/
    padding: 0px;
    text-align: center;
}

.sidemenu li{
    /*Velocidad de transicion del contenido*/
    transition: .3 all;
    list-style: none;
}

.sidemenu a{
    text-decoration: none;
    font-weight: normal;
     /*La letra crece con el menu de esta manera no se va a ver como se ajusta al margen mientras crece*/
    transition: .3s all;
    /*Se ocultan los elementos*/  
    font-size: 0px;
    padding: 0px;
}
.sidemenu h2{
    text-align: center;
    color: white;
    padding: 7px;;
    padding-bottom: 7px;
/*Se oculta el h2*/
    font-size: 0px;
}

.sidemenu img{
    padding-top: 30px;
    padding-left: 10px;

}

/*Cuando pulso la imagen me printea lo que viene siendo el menu*/
.sidemenu:hover{
    /*Tamaño cuando el cursor señale la barra*/
    width: 10px;
    height: 60vh;
     /*Color*/
    background-color: black;


}

.sidemenu:hover h2 {
    /*posicion dentro de barra del h2*/
    padding: 15px;
    font-size: 35px;
    cursor: pointer;
    color: aqua;
}

/* Cada opción*/
.sidemenu:hover a{
    font-size: 20px;
    color: aqua;
    /*Se usa el display block para que el enlace respete el margin*/
    display: block;
    padding: 20px;
}

/* Para hacer desaparecer el icono del imagen*/
.sidemenu:hover img {
    height: 0px;

}

.sidemenu:hover li {
    border-top: 1px solid aqua;
    /*Espacios entre las lineas y el contenido*/
    width: 100%;
}

/* Para que las ociones me queden de la misma manera*/
.sidemenu:hover ul:last-of-type{
    border-bottom: 1px solid aqua;
}
.sidemenu:hover a:hover {
    font-size: 25px;
    padding: 30px 0px;
    background-color: rgba(22,78,112,0.98);
}

@media (min-width: 768px){
    .sidemenu:hover{
        width: 45%;
    }
}


/************************************************************/
/*                  galeria  big                           */
/***********************************************************/

/* Defino la estructura de las fotos y la visualización por pantalla*/
#galeria{
    max-width: 650px;
}

#galeria img{
    float: left;
    margin: 1em;
    padding: 1.5em;
    object-fit: cover;
}

#galeria img{
    width: 165px;
    height: 170px;
    margin: 10px 0;

}

.galsup {
    display:block;
    float:left;
    margin-left: 30%;
    margin-top: 0%;

}

/************************************************************/
/*                  galeria  small                          */
/***********************************************************/

/* Defino la estructura de las fotos y la visualización por pantalla*/

#galeria2 img{
    float: left;
    margin: 1em;
    padding: 1.5em;
    object-fit:scale-down;
}

#galeria2 img{
    width: 165px;
    height: 170px;
    margin: 10px 0;

}
.galinf {
    display:block;
    float:left;
    margin-left: 30%;
    margin-top: 0%;
    margin-right: 27%;
    background-color:#34495E;
}


/************************************************************/
/*                   tabla                                 */
/***********************************************************/

/* Defino la estructura de la tabla*/
#horbody{

    padding-left: 30%;
    padding-top: -55%;

}

table{
    width: 50%;
    height: 550px;
    border-style: hidden;
    background-color: #434343;

}
table ,th,td {
    border: 1px solid black;
    text-align: center;
    border-spacing: 10px;
}

td {
    border-radius: 10px;
}
th{
    border: none;
}

/*  COLORES EN LAS TABLAS*/
/* Asigno el color segunga la clase en la que esta*/
th{
    background-color: bisque;
    border-style: outset;
}

#pri-col{
    background-color: #F9E79F;
}

#seg-col {
    background-color: #00FF99;
}

#ultimafilcol {
    background-color: #FF0000;
}

/************************************************************/
/*                   Media querys                           */
/***********************************************************/
@media only screen and (max-width: 720px) {
    /*hara desaparecer el menu vertical y el horizontal,el boton especifico*/
    .sidemenu,#menuSup,.container,h1{
      display: none;
    }
  }

